.out__box4{
    width: 100%;
    height: 264px;
}
.in__box4{
    width: 98%;
height: 100%;
margin: 20px auto;
display: flex;
align-items: center;
justify-content: center;
gap: 20px;
img{
    border-radius: 12px;
    width: 100%;
    height: 100%;
}
}