.story__container {
  width: 100%;
  height: 170px;
  .story__center {
    width: 98%;
    height: 100%;
    margin: 0 auto;
    .slide__col {
      width: 100%;
      height: 100%;
      .story__image {
        width: 100%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 74px;
          height: 74px;
          border-radius: 50%;	
        }
      }
      .story__text {
        width: 100%;
        height: 40%;
        padding-top: 8px;
        p {
          font-size: 12px;
          padding: 0 8px;
          color: #23254ecc;
          width: 100%;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }
      }
    }
  }
}
